body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  color: #070707;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
form {
  margin-bottom: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-app-wrap {
  max-width: 300px;
  margin: 20px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #f1b1f9;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #070707;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
